/* set background to white */
html, body {
    background-color: white;
}
/* styling for burger's name box */
.nameBox {
    background-color: white;
    width: 200px;
    height: 50px;
    float: left;
    clear: left;
}

.change-devour {
    clear: right;
    margin: 10px;
}