

{{!-- <li> --}}
	<div class="row" style="margin: 10px;">

	<div class="nameBox">
	{{burger_name}}
	</div>
	<button class="change-devour" data-id="{{id}}" data-newstate="{{devour}}">
		devour!
	</button>
	</div>

{{!-- </li> --}}

